<link rel='import' href='../polymer/polymer-element.html'>

<dom-module id='ram-module'>
  <template>
    <style>
      :host { display: block; }
      .not-load { border:1px solid lightsalmon; padding: 5px; }
      .not-load p { font-size: 13pt; color: lightsalmon; padding: 5px; }
      .ok-load { border:1px solid #007bff; padding: 5px; }
      .ok-load p { font-size: 13pt; color: #007bff; padding: 5px; }
      hr { border:0.3px solid #ddd; }
    </style>

    <template is="dom-if" if="[[isOkRam]]">
      <div class="ok-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoRam]]</p>
      </div>
    </template>
    <template is="dom-if" if="[[!isOkRam]]">
      <div class="not-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoRam]]</p>
      </div>
    </template>
  </template>

  <script>
    /**
     * `ram-module`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RamModule extends Polymer.Element {
      
      static get is() { return 'ram-module'; }

      static get properties() {
        return {
          speed: { 
            type: Number,
            value: 1600
          },
          ramMemory: {
            observer: '_isRamMemory',
            type: Number,
            value: 16
          },
          name: { 
            type: String,
            value: 'ram-gft-mx'
          },
          isOkRam: {
            type: Boolean,
            value: true,
            notify: true
          },
          msg: {
            type: String,
            value: `No se pudo cargar la memoria RAM, verifique!`
          },
          getInfoRam: {
            type: String,
            computed: '_getInfoRam(ramMemory, speed, name)'
          }
        };
      }

      setDefaultValues() {
        this.speed = 1600;
        this.name = 'ram-gft-mx';
        this.ramMemory = 16;
      }

      _isRamMemory(newValue, oldValue) {
        console.log("is ram memory module ", newValue, oldValue)
        if (!newValue) {
          console.log("is ram !if")
          this.setDefaultValues();
        }
        this.isOkRam = true;
        this.msg = `Memoria RAM cargada exitosamente!`;
      }
      
      _getInfoRam(ramMemory, speed, name){
        return ramMemory !== undefined ? `Seleccionaste una memoria RAM '${name}' 
        con ${ramMemory}GB de espacio y ${speed}Mhz`:`Se desconocen los datos
        para la memoria RAM, verifique!`;
      }
    }
    window.customElements.define(RamModule.is, RamModule);
  </script>
</dom-module>
